<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Sign Up</h3>
</div>
<div class="modal-body" id="modal-body">
  <div uib-alert ng-repeat="alert in $ctrl.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="$ctrl.closeAlert($index)">{{alert.msg}}</div>
  <form accept-charset="UTF-8" role="form" name="signupForm">
    <fieldset>
      <div class="form-group">
        <label class="control-label">Username</label>
        <input class="form-control" placeholder="Username" ng_model="$ctrl.username" name="username" type="text" required>
        <p class="help-block" ng-if="userForm.name.$error.required">The user's name is required</p>
      </div>
      <div class="form-group">
        <label class="control-label">Password</label>
        <input class="form-control" placeholder="Password" ng_model="$ctrl.password" name="password" type="password" required >
      </div>
      <div class="form-group">
        <label class="control-label">Confirm Password</label>
        <input class="form-control" placeholder="Confirm Password" ng_model="$ctrl.confirmPassword" name="confirmPassword" type="password" required equalTo="$ctrl.password">
      </div>
      <div class="form-group">
        <label class="control-label">Email Address</label>
        <input class="form-control" placeholder="Email Address" name="email" ng_model="$ctrl.email" type="email" required>
      </div>
      <div class="form-group">
        <label class="control-label">First Name</label>
        <input class="form-control" placeholder="First Name" ng_model="$ctrl.firstName" name="firstName" type="text" required>
      </div>
      <div class="form-group">
        <label class="control-label">Last Name</label>
        <input class="form-control" placeholder="Last Name" ng_model="$ctrl.lastName" name="lastName" type="text" required>
      </div>
    </fieldset>
    <input class="btn btn-lg btn-success btn-block" ng-click="$ctrl.submitSignupRequest()" value="Sign Up" type="submit">
  </form>
</div>
<div class="modal-footer">
  <div class="bottom text-center">
    Have an account ? <a ng-click="$ctrl.openLoginModal()"><b>Login</b></a>
  </div>
</div>


