/* HOME PAGE */
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}
.header {
	height: 100%;
	width: 100vw;
}
.logo {
	display:inline-block;
	margin-top: 10px;
	width: 32%;
	text-align: center;
}

.text-center {
	margin-top: 10px;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap:wrap
}
.accountDropDown {
	display:inline-block;
	margin-top: 10px;
	float: right;
	width: 32%;
	text-align: center;
}
#account{
	margin-top: 10px;
	display: inline-block;
	text-align: center;
}
.img {
	width: 20vw;
	text-align: center;	
}
figure {
	margin: 0 auto;
}
figcaption {
	text-align: center;
}
hr {
	stroke-color: black;
}
.imgClass {
	text-align: center;
	display: flex;
}
#search {
	display: flex;
	align-items: center;
	justify-content: center;
	
}
#recButton, #tourButton {
	display: block;
	margin: 0 auto;
}
#searchBanner {
	height: 100%;
	width: 100vw;
}
#recBanner {
	height: 100%;
	width: 100vw;
}
#guideBanner {
	height: 100%;
	width: 100vw;
}
.footer {
	border: 1px solid orange;
	height: 100%;
	width: 100vw;
}