<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" ng-click="isCollapsed = !isCollapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/auth/home">HairyDolphins</a>
    </div>
    <div class="collapse navbar-collapse" uib-collapse="isCollapsed">
      <ul class="nav navbar-nav">
        <li><a href="#/auth/home">Home</a></li>
        <li uib-dropdown>
          <a uib-dropdown-toggle>Local Advisors <span class="caret"></span></a>
          <ul uib-dropdown-menu>
            <li><a ui-sref="auth.laSearch({
                    limit:5,
                    request_fields: [
                      'first_name',
                      'local_advisor_profile',
                      'last_name',
                      'id',
                      'average_rating',
                      'profile_photo_url'
                ]})">Search Local Advisors</a></li>
            <li><a href="#">Become A Local Advisor</a></li>
          </ul>
        </li>
        <li uib-dropdown>
          <a uib-dropdown-toggle>Local Recommendations<span class="caret"></span></a>
          <ul uib-dropdown-menu>
            <li><a ui-sref="auth.locRec({
              limit:5, 
              request_fields: [
                'recommendation_category',
                'recommendation_photos',
                'entity_recommendations',
                'title',
                'average_rating',
                'description',
                'city',
                'id',
                'primary_picture',
                'address_line_one',
                'address_line_two',
                'zip_code'
            ]})">Search Local Recommendations</a></li>
            <li><a ui-sref="auth.recCreation">Recommend A Place</a></li>
          </ul>
        </li>
        <li><a ui-sref="auth.messenger">Messenger</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li uib-dropdown>
          <a uib-dropdown-toggle>{{user.first_name}} {{user.last_name}}<span class="caret"></span></a>
          <ul uib-dropdown-menu>
            <li><a href="#">Edit Profils</a></li>
            <li><a ng-click="nav.logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <login>
</nav>