<div style="height:50px"></div>
<div class="panel panel-default" style="border-bottom:transparent;">
<div class="panel-heading">
	<h3 style="margin-top:10px;">Messenger</h3>
</div>
<div class="panel-body">
	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h5 style="margin-top:10px;">Contacts</h5>
				</div>
				<div style="margin-top: 5%; margin-left:10%; margin-right:10%">
					<input type="text" ng-model="selectedNewContact" placeholder="Enter a keyword to search user" uib-typeahead="user as user.first_name + ' ' + user.last_name + ' (' + user.username + ')' for user in searchUsers($viewValue) | limitTo: 8" typeahead-loading="searchingUsers" typeahead-no-results="noResults" typeahead-on-select="onContactSelect($item, $model, $label)" class="form-control">
					<div ng-show="searchingUsers">
						<i class="glyphicon glyphicon-refresh"></i> Searching Users...
					</div>
				    <div ng-show="noResults">
				      <i class="glyphicon glyphicon-remove"></i> No Results Found
				    </div>
				</div>
				<div class="panel-body smart-table-container">
					<table ng-if="$root.isLoading == false" st-table="displayContacts" st-safe-src="userContacts" class="table smart-table table-striped" style="margin-bottom: 0px">
						<tbody ng-if="!isLoading">
							<tr ng-repeat="user in displayContacts" style="height:45px">
								<td class="btn-default" ng-if="user.id "ui-sref="auth.messenger.chatpanel({user_id:{{user.id}}, first_name:'{{user.first_name}}', last_name:'{{user.last_name}}', profile_photo_url:'{{user.profile_photo_url}}'})">
									<p class="text-center">{{user.first_name}} {{user.last_name}}</p>
								</td>

								<td ng-if="!user.id">
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="5" class="text-center">
									<div st-pagination st-items-by-page="10" st-displayed-pages="3">
									</div>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div ui-view="chatpanel">
		</div>
	</div>
</div>
</div>
