/* HOME PAGE */
.jumbotron { 
    background-color: #40E0D0;
    color: #ffffff;
}

/**************************
Navigation Bar& Dropdown
***************************/
/* Add a dark background color with a little bit see-through */ 
.navbar {
    margin-bottom: 0;
    background-color: #40E0D0;
    border: 0;
    font-size: 13px !important;
    letter-spacing: 4px;
    opacity:0.9;
}

.navbar-brand {
    font-weight: bold;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand { 
    color: #2d2d30 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;
}

/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
    background-color: lightblue !important;
}

/*************
Button-Success
**************/
.btn-success{
    -webkit-transition-duration: 0.4s;
    background-color: #40E0D0;
    border-color: #40E0D0;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success :hover
{
   background-color: #fff;
   border-color: #40E0D0;
   color: #40E0D0;
}

.btn-success:active, .btn-success.active {
    background: #007299;
    box-shadow: none;
}

/*************
Button-Primary
**************/
.btn-primary{
    -webkit-transition-duration: 0.4s;
    background-color: #3CB371;
    border-color: #3CB371;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary :hover
{
   background-color: #fff;
   border-color: #3CB371;
   color: #3CB371;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}


/*************
Pangination Buttons
**************/
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #40E0D0;
    border-color: #40E0D0;
}

.pagination>li>a, .pagination>li>span{
    color: #40E0D0;
}

.squareImgContainer{
    position:relative;
    overflow: hidden;
    padding-bottom: 100%; 
    width: 100%
}

.squareImg{
    position: absolute;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.star_on { 
  height: 36px;
  width: 36px;
  background-size: contain;
  background-image: url("/static/images/star_on.png");
}

.star_off {
  height: 36px;
  width: 36px;
  background-size: contain;
  background-image: url("/static/images/star_off.png");
}
