<div class="jumbotron text-center">
  <h1>HairyDolphins</h1>
  <h2>Find Your Local Advisor</h2>
  <form class="form-inline">
    <div class="row" style="margin-left:15%; margin-right:15%; margin-top:50px">
        <div class='col-md-3 form-group' datepicker></div>
        <div class='col-md-6 form-group'>
            <input type="text" class="form-control" placeholder="What do you expect?" style="width:100%" ng-model='searchString'>
        </div>
        <div class='col-md-3 form-group'>
            <button type="button" class="btn btn-primary pull-left">Search</button>
        </div>
    </div>
  </form>
</div>