<div style="height:50px"></div>
<div class="panel panel-default" style="border-bottom:transparent;">
<div class="panel-heading">
    <h3 style="margin-top:10px;">Search Recommendations</h3>
</div>
<div class="panel-body smart-table-container">

    <form class="form-inline">
        <div class="row" style="margin-bottom:15px">
            <div class='col-md-4 form-group'>
                <label>City: </label>

                <select class="form-control" ng-model="selected_city" ng-options="city as city.label for city in cities track by city.id" style="width: 80%">
                    <option value="">-- choose city --</option>
                </select>
            </div>
            <div class='col-md-4 form-group'>
                <label>Category: </label>
                <select class="form-control" ng-model="selected_recommendation_category" ng-options="recommendation_category as recommendation_category.label for recommendation_category in recommendation_categories track by recommendation_category.id" style="width: 80%">
                    <option value="">-- choose category --</option>
                </select>
            </div>
            <div class='col-md-4 form-group'>
                <button type="button" class="btn btn-primary pull-right" style="width:50%" ng-click="sendSearchRequest()">Search</button>
            </div>
        </div>
    </form>

    <table ng-if="$root.isLoading == false" st-table="displayCollection" st-safe-src="recommendations" class="table smart-table">
        <tbody ng-if="!isLoading">
        <tr ng-if="displayCollection.length == 0">
            <td class="text-center">No recommendations for the area found.</td>
        </tr>
        <tr ng-repeat="localRecommendation in displayCollection">
            <div>
                <td style="width: 25%">
                    <div class="squareImgContainer">
                        <img ng-click="viewDetails(localRecommendation)" style="width:80%; height: 80%;" ng-src="{{localRecommendation.primary_picture}}" class="pull-xs-left img-rounded img-thumbnail squareImg"  alt="loading image...">
                    </div>
                </td>
                <td style="width:70%">
                    <div>
                        <div>
                            <h3>{{localRecommendation.title}}</h3>
                            <h5 style="color:#aaa">At {{localRecommendation.complete_address}}</h5>
                            <div>
                                <span uib-rating max="5" ng-model="localRecommendation.average_rating" read-only="true"></span>
                            </div>
                            <div style="margin-top: 2em; height: 10em">
                                <p>{{localRecommendation.description}}</p>
                            </div>
                            <div>
                                <p class="rec_tag">Recommended by <em style="color:chocolate">{{localRecommendation.entity_recommendations.length+1}}</em> people</p>
                            </div>

                        </div>
                    </div>
                </td>
                <td style="width:15%; vertical-align: middle">
                    <button class="btn btn-primary" ng-click="viewDetails(localRecommendation)">View Details</button>
                </td>
            </div>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5" class="text-center">
                <div st-pagination st-items-by-page="5" st-displayed-pages="5">
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>

</div>